<footer>
      <div class="footer">
            <div class="footer__div">
                  <span>
                        <img class="footer__div--logo" src="./assets/images/logo.png" alt="logo">
                        <h3 class="footer__div--h3" id="contact">home made burguers </h3>
                  </span>
                  <p>C/ Desengaño, 21</p>
                  <p>Madrid</p>
            </div>
            <ul class="footer__list">
                  <li><a class="footer__list--link" href="https://www.instagram.com" title="instagram"
                              Target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a class="footer__list--link" href="https://www.facebook.com" title="facebook" Target="_blank"><i
                                    class="fa-brands fa-square-facebook"></i></a></li>
                  <li><a class="footer__list--link" href="https://www.youtube.com" title="youtube" Target="_blank"><i
                                    class="fa-brands fa-youtube"></i></a></li>
                  <li><a class="footer__list--link" href="https://www.tiktok.com" title="tiktok" Target="_blank"><i
                                    class="fa-brands fa-tiktok"></i></a></li>
            </ul>
      </div>
      <div class="footer__copyright">&copy; 2023 Marta Castrillo</div>
</footer>