<header class="header">
  <div class="header__bigbox">
    <img class="header__bigbox--img" src="./assets/images/logo.png" alt="logo">
    <h1>home made burguers</h1>
  </div>
  <div class="header__menue"><i class="header__menue--burguer fa-solid fa-bars js_bars"></i>

  </div>
  <div class="header__menu js_column">
    <p class="header__menu--p js_cross">X</p>
    <img class="header__menu--img" src="./assets/images/logo.png" alt="logo">
    <nav class="header__menu--nav">
      <ul class="header__menu--nav--listelement">
        <li class="js_menu_element1"><a href="index.html#burguers">burguers</a></li>
        <li class="js_menu_element2"><a href="index.html#alergenos">alérgenos</a></li>
        <li class="js_menu_element3"><a href="index.html#contact">contact</a></li>
      </ul>
    </nav>
  </div>
</header>