<header class="header">
  <div class="header__bigbox">
    <img class="header__bigbox--img" src="./assets/images/logo.png" alt="logo">
    <h1>@@title</h1>
  </div>
  <div class="header__menue"><i class="header__menue--burguer fa-solid fa-bars"></i>
    <p class="header__menue--p">menu</p>
  </div>
  <div class="header__menu collapsed">
    <p class="header__menu--p">X</p>
    <img class="header__menu--img" src="./assets/images/logo.png" alt="logo">
    <nav class="header__menu--nav">
      <ul class="header__menu--nav--listelement">
        <li>home</li>
        <li>burguers</li>
        <li>contact</li>
      </ul>
    </nav>
  </div>
</header>