<main class="main">
  <div class="main__superdiv">
    <div class="main__superdiv--box">

    </div>
    <p class="main__superdiv--p xclose">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque voluptate iste
      aliquid
      debitis possimus omnis
      sint nihil reprehenderit, corporis modi provident praesentium incidunt earum aspernatur deserunt sequi recusandae
      temporibus? Quia?</p>

  </div>
  <div class="main__menu">
    <h2 class="main__menu--h2">burguers</h2>
    <div>
      <ul class="burguerlist">
        <li class="burguerlist__element">

          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0000.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
        <li class="burguerlist__element">
          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0001.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
        <li class="burguerlist__element">
          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0002.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
        <li class="burguerlist__element">
          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0003.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
        <li class="burguerlist__element">
          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0004.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
        <li class="burguerlist__element">
          <h3 class="burguerlist__element--h3">
            Macarena
          </h3>
          <img src="../../assets/images/burguer_0005.png" alt="">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
            repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
            quaerat labore nisi.</p>
          <h5 class="burguerlist__element--pvp">PVP</h5>
        </li>
      </ul>
    </div>
  </div>


</main>