<main class="main">
  <div class="main__superdiv">
    <div class="main__superdiv--box">

    </div>
    <p class="main__superdiv--p xclose">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque voluptate iste
      aliquid
      debitis possimus omnis
      sint nihil reprehenderit, corporis modi provident praesentium incidunt earum aspernatur deserunt sequi recusandae
      temporibus? Quia?</p>

  </div>
  <div class="main__menu" id="burguers">
    <h2 class="main__menu--h2">burguers</h2>
    <div>
      <ul class="burguerlist">
        <include src="./burguer.html" burguername="la humilde" img="../../assets/images/burguer_0000.png"
          imgdesciption="hamburguesa la humilde" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
      repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
      quaerat labore nisi." emoji1Class="fa-sharp fa-solid fa-shrimp" emoji2Class="fa-solid fa-leaf" emoji3Class=""
          burguerpvp="pvp 16.95€">
        </include>
        <include src="./burguer.html" burguername="la revoltosa" img="../../assets/images/burguer_0001.png"
          imgdesciption="hamburguesa la revoltosa" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
      repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
      quaerat labore nisi." emoji1Class="fa-solid fa-cow" emoji2Class="fa-solid fa-leaf" emoji3Class=""
          burguerpvp="pvp 12.95€">
        </include>
        <include src="./burguer.html" burguername="la tímida" img="../../assets/images/burguer_0002.png"
          imgdesciption="hamburguesa la tímida" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
    repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
    quaerat labore nisi." emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-leaf" emoji3Class=""
          burguerpvp="pvp 13.55€">
        </include>
        <include src="./burguer.html" burguername="la elegante" img="../../assets/images/burguer_0003.png"
          imgdesciption="hamburguesa la elegante" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
  repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
  quaerat labore nisi." emoji1Class="fa-solid fa-cow" emoji2Class="fa-solid fa-leaf" emoji3Class=""
          burguerpvp="pvp 14.95€">
        </include>
        <include src="./burguer.html" burguername="la impaciente" img="../../assets/images/burguer_0004.png"
          imgdesciption="hamburguesa la impaciente" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
quaerat labore nisi." emoji1Class="fa-solid fa-cow" emoji2Class="fa-solid fa-egg" emoji3Class=""
          burguerpvp="pvp 15.95€">
        </include>
        <include src="./burguer.html" burguername="la inquieta" img="../../assets/images/burguer_0005.png"
          imgdesciption="hamburguesa la inquieta" desciption="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, dolores vero vitae harum doloremque
repellat recusandae impedit unde perferendis earum tempora incidunt, est laudantium dolorem optio nam
quaerat labore nisi." emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-leaf" emoji3Class="fa-solid fa-cow"
          burguerpvp="pvp 12.95€">
        </include>
      </ul>
    </div>
  </div>
  <div class="main__alergenos">
    <h4 class="main__alergenos--title" id="alergenos">Alérgenos</h4>
    <ul class="main__alergenos--list">
      <li><i class="fa-solid fa-wheat-awn"></i> Gluten</li>
      <li><i class="fa-solid fa-cow"></i> Leche</li>
      <li><i class="fa-solid fa-leaf"></i> Vegetariano</li>
      <li><i class="fa-solid fa-egg"></i> Huevo</li>
      <li><i class="fa-sharp fa-solid fa-shrimp"></i> Marisco</li>
    </ul>
  </div>

</main>