<main class="main">

  <div class="main__superdiv">
    <div class="main__superdiv--box"></div>
    <p class="main__superdiv--p xclose">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque voluptate
      iste aliquid debitis possimus omnis sint nihil reprehenderit, corporis
      modi provident praesentium incidunt earum aspernatur deserunt sequi
      recusandae temporibus? Quia?
    </p>
  </div>
  <div class="main__menu" id="burguers">
    <h2 class="main__menu--h2">burguers</h2>
    <div>
      <ul class="burguerlist">
        <include src="./burguer.html" burguername="la presumida" img="./assets/images/burguer_0000.webp"
          imgdesciption="hamburguesa la presumida"
          desciption="La más coqueta de todas nuestras burguers, con carne de vacuno, cebolla caramelizada, queso de cabra y coronando salsa de nueces."
          emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-cow" emoji3Class="" burguerpvp="pvp 12.95€">
        </include>
        <include src="./burguer.html" burguername="la no tan tímida" img="./assets/images/burguer_0001.webp"
          imgdesciption="hamburguesa la no tan tímida"
          desciption="No te dejes engañar por su apariencia vergonzosa, esta maravilla tiene carne de vacuno, cebolla a la brasa, pepinillos, bacon ahumado y mix de brotes."
          emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-cow" emoji3Class="" burguerpvp="pvp 16.95€">
        </include>
        <include src="./burguer.html" burguername="la revoltosa" img="./assets/images/burguer_0002.webp"
          imgdesciption="hamburguesa la revoltosa"
          desciption="No te dejará indiferente. Mozarella vegana fresca, canónigos, salsa de tomate arrabiata y filete plant based."
          emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-leaf" emoji3Class="" burguerpvp="pvp 13.55€">
        </include>
        <include src="./burguer.html" burguername="la elegante" img="./assets/images/burguer_0003.webp"
          imgdesciption="hamburguesa la elegante"
          desciption="La clásica de las clásicas, donde vamos a lo seguro, lo que siembre funciona. Bacon, lechuga, tomate y queso cheddar, carne de ternera."
          emoji1Class="fa-solid fa-wheat-awn" emoji2Class="fa-solid fa-cow" emoji3Class="" burguerpvp="pvp 14.95€">
        </include>
        <include src="./burguer.html" burguername="la impaciente" img="./assets/images/burguer_0004.webp"
          imgdesciption="hamburguesa la impaciente"
          desciption="Para todos los paladares. El filete de esta burguer es plant based, cebolla caramelizada, tiras de zanahoria, queso vegano, lechugas y aros de cebolla. El pan no contiene gluten, ni tampoco el rebozado."
          emoji1Class="fa-solid fa-leaf" emoji2Class="" emoji3Class="" burguerpvp="pvp 15.95€">
        </include>
        <include src="./burguer.html" burguername="la no tan relajaita" img="./assets/images/burguer_0005.webp"
          imgdesciption="hamburguesa la no tan relajaita"
          desciption="Aparenta calmada y sencilla, pero sorprende la explosión de sabores en cada bocado. Tiene bacon, huevo, queso emmental, cebolla caramelizada y carne de ternera."
          emoji1Class="fa-solid fa-cow" emoji2Class="fa-solid fa-leaf" emoji3Class="fa-solid fa-wheat-awn"
          emoji4Class="fa-solid fa-egg" burguerpvp="pvp 12.95€">
        </include>
      </ul>
    </div>
    <p class="extratext">
      Todas nuestras hamburguesas se sirven con guarnición, a elegir entre
      patatas fritas clásicas, patata asada, bastoncillos de boniato fritos o
      ensalada.
    </p>
  </div>
  <span class="arrow">
    <div class="arrow__div">
      <a class="arrow__div--link" href="index.html#top"><img class="arrow--img" src="./assets/images/ico-arrow.svg"
          alt="" title="I take you up" /></a>
    </div>

  </span>
  <div class="main__alergenos">
    <h4 class="main__alergenos--title" id="alergenos">Alérgenos</h4>
    <ul class="main__alergenos--list">
      <li><i class="fa-solid fa-wheat-awn"></i> Gluten</li>
      <li><i class="fa-solid fa-cow"></i> Lacteos</li>
      <li><i class="fa-solid fa-leaf"></i> Vegano</li>
      <li><i class="fa-solid fa-egg"></i> Huevo</li>
    </ul>
  </div>
</main>