// fonts
$font-title: "Karantina", cursive;
$font-main: "Open Sans", sans-serif;

// colors
$color-bg: black;
$color-main: #f7b42f;
$color-second: #ee6cee;
$color-secondary: #999;

$color-wheat: rgb(215, 182, 119);
$color-leaf: rgb(107, 206, 80);
$color-egg: rgb(253, 232, 191);
$color-cow: rgb(244, 130, 68);
