* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  background-color: black;
  font-family: "Open Sans", sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .header__bigbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; }
    .header__bigbox--img {
      width: 100px; }
      @media screen and (min-width: 480px) {
        .header__bigbox--img {
          width: 120px; } }
  .header__menue {
    color: #F7B42F;
    font-family: "Karantina", cursive;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    gap: 20px; }
    @media screen and (min-width: 480px) {
      .header__menue {
        font-size: 50px;
        margin-left: 40px; } }
    .header__menue :hover {
      color: #EE6CEE; }
  .header__menu {
    background-color: #F7B42F;
    width: 300px;
    height: 100vh;
    position: fixed;
    margin: -2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    transform: translateX(-100%); }
    .header__menu--p {
      color: white;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 30px;
      transform: translate(70px);
      padding: 10px;
      font-weight: 700; }
    .header__menu--img {
      width: 100px;
      margin-top: 30px; }
      @media screen and (min-width: 480px) {
        .header__menu--img {
          width: 120px; } }
    .header__menu--nav--listelement {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 20px;
      color: white;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 40px;
      text-align: center; }
      .header__menu--nav--listelement :hover {
        color: #EE6CEE; }
      @media screen and (min-width: 480px) {
        .header__menu--nav--listelement {
          font-size: 50px; } }
      .header__menu--nav--listelement a {
        color: white;
        text-decoration: none; }

h1 {
  color: #F7B42F;
  font-family: "Karantina", cursive;
  text-transform: uppercase;
  font-size: 45px;
  width: 160px; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 70px;
      width: 260px; } }

.main {
  color: white; }
  .main__superdiv--box {
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: 100%;
    background-image: url("../images/burguer_0006.webp"); }
  .main__superdiv--p {
    padding-top: 2rem;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: center; }
    @media all and (min-width: 768px) {
      .main__superdiv--p {
        margin-right: 20%;
        margin-left: 20%; } }
  .main__menu {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .main__menu--h2 {
      color: #F7B42F;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 400; }
      @media screen and (min-width: 480px) {
        .main__menu--h2 {
          font-size: 60px; } }
  .main__alergenos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem; }
    .main__alergenos--title {
      color: #F7B42F;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 50px;
      font-weight: 400; }
      @media screen and (min-width: 480px) {
        .main__alergenos--title {
          font-size: 60px; } }
    .main__alergenos--list {
      list-style: none;
      display: flex;
      margin: 20px;
      font-size: 16px;
      gap: 12px; }
      @media screen and (min-width: 480px) {
        .main__alergenos--list {
          font-size: 20px;
          gap: 20px;
          margin: 28px; } }

.burguerlist {
  margin-top: 2rem;
  margin-bottom: 3rem;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 22px; }
  .burguerlist__element {
    border: 1px solid #EE6CEE;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 22px;
    max-width: 380px; }
    .burguerlist__element--h3 {
      color: #EE6CEE;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 30px; }
    .burguerlist__element--pvp {
      color: #F7B42F;
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 30px; }
    .burguerlist__element--span {
      font-size: 18px;
      display: flex;
      gap: 5px; }
      @media screen and (min-width: 480px) {
        .burguerlist__element--span {
          font-size: 20px; } }

.extratext {
  text-align: center; }

.fa-wheat-awn {
  color: #d7b677; }

.fa-leaf {
  color: #6bce50; }

.fa-egg {
  color: #fde8bf; }

.fa-cow {
  color: #f48244; }

.fa-shrimp {
  color: #f8885c; }

.arrow {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 10px; }
  .arrow__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #EE6CEE;
    animation: bounce 2s ease infinite; }
    @media all and (min-width: 768px) {
      .arrow__div {
        width: 45px;
        height: 45px; } }
    .arrow__div--link {
      padding: 20px; }

@keyframes bounce {
  50% {
    transform: translateY(-30px); } }

footer {
  width: 100vw;
  padding: 2rem;
  color: white;
  background-color: #F7B42F; }

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; }
  @media screen and (min-width: 480px) {
    .footer {
      flex-direction: row;
      justify-content: space-around; } }
  .footer__div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px; }
    .footer__div--h3 {
      font-family: "Karantina", cursive;
      text-transform: uppercase;
      font-size: 30px;
      width: 110px; }
      @media screen and (min-width: 480px) {
        .footer__div--h3 {
          font-size: 40px;
          width: 150px; } }
    .footer__div--logo {
      width: 100px; }
    .footer__div span {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px; }
  .footer__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px; }
    .footer__list--link {
      color: white;
      font-size: 22px; }
      .footer__list--link :hover {
        color: #EE6CEE; }
      @media screen and (min-width: 480px) {
        .footer__list--link {
          font-size: 26px; } }
    @media screen and (min-width: 480px) {
      .footer__list {
        gap: 20px; } }
  .footer__copyright {
    font-size: 12px;
    text-align: center;
    margin-top: 40px; }
    @media screen and (min-width: 480px) {
      .footer__copyright {
        font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
