footer {
	width: 100vw;
	padding: 2rem;
	color: white;
	background-color: $color-main;
}
.footer {
	margin-top: 20px;
	@include centerColumn();
	gap: 20px;
	@media screen and (min-width: 480px) {
		flex-direction: row;
		justify-content: space-around;
	}
	&__div {
		@include centerColumn();
		gap: 5px;
		&--h3 {
			@include titleFontUpper();
			font-size: 30px;
			width: 110px;
			@media screen and (min-width: 480px) {
				font-size: 40px;
				width: 150px;
			}
		}
		&--logo {
			width: 100px;
		}
		span {
			margin-bottom: 20px;
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	&__list {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 10px;
		&--link {
			color: white;
			font-size: 22px;
			:hover {
				color: $color-second;
				cursor: pointer;
			}
			@media screen and (min-width: 480px) {
				font-size: 26px;
			}
		}
		@media screen and (min-width: 480px) {
			gap: 20px;
		}
	}
	&__copyright {
		font-size: 12px;
		text-align: center;
		margin-top: 40px;
		@media screen and (min-width: 480px) {
			font-size: 16px;
		}
	}
}
