.footer {
  width: 100vw;
  padding: 1rem;
  color:white;
  background-color: $color-main;
  margin-top: 20px;
  @include centerColumn();
  gap: 10px;
  &__h3{
    @include titleFontUpper();
    font-size: 30px;
  }
  &__list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    &--link{
      color:white;
      :hover{
        color: $color-second;
      }
    }
  }
  &__copyright{
    font-size: 12px;
  }
}
