.header {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	&__bigbox {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
		gap: 20px;
		&--img {
			width: 100px;
			@media  screen and (min-width: 480px) {
				width: 120px;
			}
		}
	}
	&__menue {
		color: white;
		@include titleFontUpper(); 
		background-color: $color-second;
		font-size: 30px;
		padding: 0.5rem 0.5rem 0.5rem 2rem;
		width: 80px;
		position: fixed;
		transform: translateY(120px);
		margin-left: -2rem;
		margin-top: 20px;
		display: flex;
		gap: 20px;
		@media  screen and (min-width: 480px) {
			padding: 0.5rem 3rem 0.5rem 1rem;
			width: 120px;
		
		}
		:hover {
			color: $color-main;
		}
		&--p{
			display: none;
			@media  screen and (min-width: 480px) {
				display:block;
			}
		}
		
	}
	&__menu {
		background-color: $color-main;
		width: 300px;
		height: 100vh;
		position: fixed;
		margin: -2rem;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 100;
		transform: translateX(-100%);
		&--p {
			color: white;
			@include titleFontUpper(); 
			font-size: 30px;
			transform: translate(70px);
			padding: 10px;
			font-weight: 700;
		}

		&--img {
			width: 100px;
			margin-top: 30px;
			@media  screen and (min-width: 480px) {
				width: 120px;
			}
		}
		&--nav {
			&--listelement {
				list-style: none;
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				gap: 20px;
				color: white;
				@include titleFontUpper(); 
				font-size: 40px;
				text-align: center;
				:hover {
					color: $color-second;
				}
				@media  screen and (min-width: 480px) {
					font-size: 50px;
				}
				a{
					color:white;
					text-decoration:none;
				}
			}
		}
	}
}
h1 {
	color: $color-main;
	@include titleFontUpper(); 
	font-size: 45px;
	width: 160px;
	@media  screen and (min-width: 480px) {
		font-size: 70px;
		width: 260px;
	}
}
