.main {
	color: white;
	&__superdiv {
		&--box {
			height: 200px;
			background-repeat: no-repeat;
			overflow: hidden;
			background-position: center;
			background-size: 100%;
			background-image: url("../images/burguer_0006.png");
		}
		&--p {
			padding-top: 2rem;
			text-align: center;
			margin-right: min(10%);
			margin-left: min(10%);
			justify-content: center;

			@media all and (min-width: 768px) {
				margin-right: min(25%);
				margin-left: min(25%);
			}
			span {
				@include titleFontUpper();
				color: $color-main;
				font-size: 16px;
			}
		}
	}
	&__menu {
		padding: 2rem;
		@include centerColumn();
		&--h2 {
			color: $color-main;
			@include titleFontUpper();
			font-size: 50px;
			font-weight: 400;
			@media screen and (min-width: 480px) {
				font-size: 60px;
			}
		}
	}
	&__alergenos {
		@include centerColumn();
		margin-bottom: 1rem;
		&--title {
			color: $color-main;
			@include titleFontUpper();
			font-size: 50px;
			font-weight: 400;
			@media screen and (min-width: 480px) {
				font-size: 60px;
			}
		}
		&--list {
			list-style: none;
			display: flex;
			margin: 20px;
			font-size: 16px;
			gap: 20px;
			@media screen and (min-width: 480px) {
				font-size: 20px;
				margin: 28px;
			}
			li {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				@media screen and (min-width: 480px) {
					flex-direction: row;
					gap: 20px;
				}
			}
		}
	}
}
.burguerlist {
	margin-top: 2rem;
	margin-bottom: 3rem;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 900px;
	gap: 22px;
	@media screen and (min-width: 480px) {
		max-width: 1500px;
	}
	&__element {
		border: 1px solid $color-second;
		display: flex;
		flex-direction: column;
		padding: 12px;
		gap: 22px;
		max-width: 280px;
		@media screen and (min-width: 480px) {
			max-width: 480px;
		}
		&--h3 {
			color: $color-second;
			@include titleFontUpper();
			font-size: 30px;
		}

		&--pvp {
			color: $color-main;
			@include titleFontUpper();
			font-size: 30px;
		}
		&--span {
			font-size: 18px;
			display: flex;
			gap: 5px;
			@media screen and (min-width: 480px) {
				font-size: 20px;
			}
		}
	}
}
.extratext {
	text-align: center;
	max-width: 500px;
	@media screen and (min-width: 480px) {
		max-width: 800px;
	}
}
.fa-wheat-awn {
	color: $color-wheat;
}
.fa-leaf {
	color: $color-leaf;
}
.fa-egg {
	color: $color-egg;
}
.fa-cow {
	color: $color-cow;
}

.arrow {
	display: flex;
	justify-content: center;
	padding: 30px;
	margin-top: 10px;
	position: fixed;
	bottom: 60px;
	right: 10px;
	&__div {
		@include centerColumn();
		width: 37px;
		height: 37px;
		border-radius: 50%;
		background-color: $color-second;
		animation: bounce 2s ease infinite;
		@media screen and (min-width: 480px) {
			width: 45px;
			height: 45px;
		}
		&--link {
			padding: 20px;
		}
	}
}

@keyframes bounce {
	50% {
		transform: translateY(-30px);
	}
}
